# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# vscode
**/.vscode/

# Build files
# Note! VICE build seems to generate files into src-folders?
**/config.log
**/aclocal.m4
**/autom4te.cache/
**/.deps/

vice/GTK3VICE-*
vice/Makefile*
vice/build/**/Makefile*
vice/build/**Makefile*
vice/data/**/Makefile*
vice/src/**/Makefile*
vice/man/Makefile*

vice/Compile
vice/config.cache
vice/config.status
vice/configure
vice/configure.ac
vice/depcomp
vice/missing
vice/vice-mint-sdl.spec
vice/ylwrap

vice/src/c64/psiddrv.h
vice/src/c64/psiddrv.o65
vice/src/config.h
vice/src/config.h.in
vice/src/debug.h
vice/src/infocontrib.h
vice/src/monitor/mon_lex.c
vice/src/monitor/mon_parse.c
vice/src/monitor/mon_parse.h
vice/src/stamp-h1
vice/src/version.h
vice/src/vice-version.sh

# Build files - data/common
vice/data/common/vice.gresource
vice/data/common/vsid.ico
vice/data/common/vsid.res
vice/data/common/x128.ico
vice/data/common/x128.res
vice/data/common/x64dtv.ico
vice/data/common/x64dtv.res
vice/data/common/x64sc.ico
vice/data/common/x64sc.res
vice/data/common/xcbm2.ico
vice/data/common/xcbm2.res
vice/data/common/xcbm5x0.ico
vice/data/common/xcbm5x0.res
vice/data/common/xpet.ico
vice/data/common/xpet.res
vice/data/common/xplus4.ico
vice/data/common/xplus4.res
vice/data/common/xscpu64.ico
vice/data/common/xscpu64.res
vice/data/common/xvic.ico
vice/data/common/xvic.res

# Build files - doc / man
vice/doc/**/Makefile*
vice/doc/texinfo.tex
vice/doc/vice.chm
vice/doc/vice.guide
vice/doc/vice.hlp
vice/doc/vice.inf
vice/doc/vice.info
vice/doc/vice.pdf
vice/doc/vice.txt
vice/doc/html/vice*.html
vice/doc/html/COPYING
vice/doc/html/NEWS

# Build files - resid
vice/src/resid/wave6581*.h
vice/src/resid/wave8580*.h
vice/src/resid*/COPYING
vice/src/resid*/INSTALL
vice/src/resid*/config.log
vice/src/resid*/config.status
vice/src/resid*/configure
vice/src/resid*/sid*defs.h

# Build files - arch
vice/src/arch/gtk3/data/vice.gresource
vice/src/arch/gtk3/data/vice.gresource.xml
vice/src/arch/gtk3/novte/box_drawing.h
vice/src/arch/gtk3/novte/marshal.cc
vice/src/arch/gtk3/novte/marshal.h
vice/src/arch/gtk3/novte/vtetypebuiltins.cc
vice/src/arch/gtk3/novte/vtetypebuiltins.h
vice/src/arch/android/AnVICE/AndroidManifest.xml
